#the-canvas{
    border: 1px solid black;
}
/* #initial-screen{
  display: flex;
  justify-content: center;
} */

body {
    padding: 0;
    text-align: center;
  }
  
  /* VERIFICAR - COMO DELETEI SOBRE AS INSTRUÇÕES DO JOGO, NÃO PRECISA SPACE-EVENLY */
  .game-details {
    /* display: flex;
    justify-content: space-evenly; */
    padding: 0% 10%;
  }

  /* ARRUMAR */
  /* #instructions {
    margin: 10% 20%;
  } */

/* ARRUMAR */
  /* .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  } */
  
  /* .logo-img {
    width: 350px;
  } */
  
  /* .arrows-img {
    width: 150px;
  } */

  img {
    width: 15%;
    height: auto;
  }
  
  .player-customization button {
    font-size: 20px;
    background-color: rgb(165, 158, 158);
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  #start-button {
    font-size: 20px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      display: flex;
      justify-content: center;
      padding: 20px 0px;
  }